:root{
  --background_blue : #00070D;
  --light_blue : #7CAED5;
  --strong_blue: #001AFF;
  --orange : #F3A054;
  --green_background : rgba(87, 164, 80, 0.2);
  --red_background : rgba(164, 80, 80, 0.2);
  --light_dark : rgba(31, 49, 63, 0.50);
}

.mother_container {
  background-color: var(--background_blue);
  color: white;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.title-container {
  background-color: var(--background_blue);
  display: flex; 
  align-items: center; 
}

.title{
  color: white;
  font-family : 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}

.subtitle{
  color: var(--light_blue);
  font-family : 'Open Sans';
  font-size: 0.9em;
}


.dune-image {
  width: 200px;
  height: 40px;
  margin-right: 2%;
  margin-left: 1%;
  background-image: url("media/dunelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.twobytwo-image {
  width: 100px;
  height: 50px;
  margin-left: 16px;
  margin-right: -20px;
  background-image: url("media/2x2logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.card-on {
  background-color: var(--green_background);
  border-radius: 10px;
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 15px;
}

.card-off {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 15px;
}

.card-error {
  border-radius: 10px;
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
  animation: colorOscillation 1s infinite alternate; /* Oscillate the color */
}

@keyframes colorOscillation {
  100% {
    background-color: rgba(162, 0, 0, 0.366); 
  }
}

.card-title {
  color: #FFF;
  font-family : 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; 
  letter-spacing: 0.15px;
  padding-left: 24px;
  padding-top: 16px;
  width: 100%;
}

.card-text-on {
  font-family : 'Open Sans', sans-serif;
  color: #57A450;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -5px;
  width: 100%;
}

.card-text-off {
  font-family : 'Open Sans', sans-serif;
  color: #9C9C9C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -5px;
  width: 100%;
}

.card-text-error {
  font-family : 'Open Sans', sans-serif;
  color: red;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -5px;
  margin-bottom: 5px;
  width: 100%;
}

.button-on {
  background-color: white;
}

.card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; /* Adjust spacing between rows */
}

.other_units_group {
  display: inline-block; 
  width: 50%;
  margin-top: 40px;
  padding-right: 10%;
}

.modules_group {
  display: inline-block; 
  width: 50%;
  margin-top: 16px;
}

.circle {
  width: 450px;
  height: 450px;
  margin-top: 0px; 
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50%; 
  background-color: var(--light_dark);
  padding-top: 25px
}

.module-container {
  background-color: var(--background_blue);
  border-radius: 10px;
  width: 100%;
  flex-shrink: 0; 
  border: 1px solid var(--light_blue); 
}

.modules-row{
  display: flex;
  flex-wrap: nowrap; /* Ensure items stay in a single row */
}

.module-title {
  color: #FFF;
  background-color: var(--strong_blue);
  border-radius: 10px 10px 0 0;
  font-family : 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 4px;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.15px;
  padding-top: 8px;
}

.module-item{
  margin-right: 10px; 
  width: 100%;
}

.unit-name {
  font-family : 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  color: white;
  background-color: black; 
  padding-left: 16px;
  height: 30px;
  align-items: center;
  display: flex;
}

.measuring-row-on {
  display : flex;
  justify-content: space-between;
  background-color: var(--green_background);
}

.measuring-row-off {
  display : flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
}

.unit-row{
  display : flex;
  background-color: black; 
  color: white;
  justify-content: space-between;
}

.measuring {
  padding-left: 5px;
  padding-top: 5px;
  font-size: 10px;
  font-family : 'Open Sans', sans-serif;
  white-space: nowrap; /* Prevent text from wrapping onto multiple lines */
  overflow: hidden; /* Hide any content that overflows the box */
  text-overflow: ellipsis;
  text-size-adjust: auto;
}

.custom-link {
  color: var(--orange); /* Change this to the color you prefer */
  text-decoration: underline; /* Remove underline, if desired */
}

.main_column{
  flex: 1;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.main_column:first-child {
  flex: 0 0 20%;
}

.main_column:last-child {
  flex: 1;
}

.grafana-card {
  margin-top: -5px;
  overflow: hidden;
  width: 100%;
  height: 500;
  text-align: center;
}

.grafana-card-module {
  overflow: hidden;
  width: 100%;
  height: 100;
}

.grafana-card-module iframe {
  width: 100%;
}

.readout-group-title{
  color: black;
  background-color: var(--light_blue);
  font-family : 'Open Sans', sans-serif;
  font-size: 12px;
  padding-bottom: 4px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.15px;
  padding-top: 8px;
}
/* Styling the confirmation text */
.confirmation-text {
  font-size: 16px;
  color: #333; /* Text color */
}

/* Styling the confirmation buttons */
.confirmation-buttons {
  display: flex;
  justify-content: center;
}

.confirmation-buttons button {
  margin: 0 10px; /* Adjust button spacing */
  padding: 8px 16px; /* Adjust button padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmation-buttons button.cancel {
  background-color: #ccc; /* Cancel button background color */
  color: #333; /* Cancel button text color */
}

.confirmation-buttons button.confirm {
  background-color: #007bff; /* Confirm button background color */
  color: #fff; /* Confirm button text color */
}
