/GUI/__pycache__
/GUI/actions-runner
/GUI/.storage.conf.swp
/GUI/.storage.conf.swp.swp
/GUI/Backend/MPOD_test.ipynb
/GUI/Backend/GIZMO_test.ipynb
/GUI/Backend/TTI_test.ipynb
/GUI/slowcontrolsenv
/GUI-old
/.grafana/
/.influxdb/