:root{
  --background_blue : #00070D;
  --light_blue : #7CAED5;
  --orange : #F3A054;
  --green_background : rgba(87, 164, 80, 0.2);
  --red_background : rgba(164, 80, 80, 0.2);
  --light_dark : rgba(31, 49, 63, 0.50);
}

.mother_container {
  background-color: var(--background_blue);
  color: white;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.title{
  color: var(--light_blue);
  font-family : 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 20px;
  margin-bottom: 3px;
  margin-left: 60px;
}

.subtitle{
  color: var(--orange);
  font-family : 'Open Sans';
  font-size: 0.9em;
  margin-left: 60px;
  padding-right: 20px;
}

.title-container {
  display: flex; /* Use flexbox to arrange title, subtitle, and image */
  justify-content: space-between;
}

.title-image {
  width: 200px;
  height: 40px;
  margin-top: 40px;
  margin-right: 8%;
  background-image: url("media/dunelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.card-on {
  background-color: var(--green_background);
  border-radius: 10px;
  width: 220px;
  margin-left: 4px;
  margin-right: 4px;
}

.card-off {
  background-color: var(--red_background);
  border-radius: 10px;
  width: 220px;
  margin-left: 4px;
  margin-right: 4px;
}

.card-title {
  color: #FFF;
  font-family : 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; 
  letter-spacing: 0.15px;
  padding-left: 24px;
  padding-top: 16px;
  width: 20px;
}

.card-text-on {
  font-family : 'Open Sans', sans-serif;
  color: #57A450;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -5px;
  width: 100%;
}

.card-text-off {
  font-family : 'Open Sans', sans-serif;
  color: red;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -5px;
  width: 100%;
}

.button-on {
  background-color: white;
}

.card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; /* Adjust spacing between rows */
}

.other_units_group {
  display: inline-block; 
  width: 50%;
  margin-top: 40px;
  padding-right: 10%;
}

.modules_group {
  display: inline-block; 
  width: 50%;
  margin-top: 16px;
}

.circle {
  width: 450px;
  height: 450px;
  margin-top: 0px; 
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50%; 
  background-color: var(--light_dark);
  padding-top: 25px
}

.module-container {
  background-color: var(--background_blue);
  border-radius: 10px;
  width: 210px;
  flex-shrink: 0; 
  margin-left: 8px; /* Adjust spacing between rows */
  margin-right: 8px;
  border: 1px solid #333; 
}
.module-title {
  color: #FFF;
  font-family : 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  line-height: 24px; 
  letter-spacing: 0.15px;
  padding-top: 8px;
}

.unit-name {
  font-family : 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  color: var(--light_blue);
  padding-left: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.measuring-row-on {
  display : flex;
  justify-content: space-between;
  background-color: var(--green_background);
}

.measuring-row-off {
  display : flex;
  justify-content: space-between;
  background-color: var(--red_background);
}

.measuring {
  padding-left: 16px;
  padding-top: 5px;
  font-size: 12px;
  font-family : 'Open Sans', sans-serif;
}

.custom-link {
  color: var(--orange); /* Change this to the color you prefer */
  text-decoration: underline; /* Remove underline, if desired */
}
